.book_form {
  padding: 2rem 2rem;
}

.form_section {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 1.1rem;
}

.inputs {
  height: 1.2rem;
  margin: 0.5rem;
}

.submit_btn {
  margin-left: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 550;
}
