.navbar {
  height: 4rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
}

.logo {
  color: #0290ff;
  font-size: 30px;
  margin-right: 2rem;
}

.nav_links li {
  color: #121212;
  font-size: 13px;
  display: inline-block;
}

.nav_links li:last-child {
  margin-left: 2rem;
}
