.navbar {
  height: 4.5rem;
  padding: 1rem;
  background-color: white;
  display: flex;
  align-items: center;
}

h1 {
  color: #0290ff;
  font-size: 30px;
  margin-right: 2rem;
}

li {
  color: #121212;
  font-size: 13px;
  display: inline-block;
}

li:last-child {
  margin-left: 2rem;
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
  }
}
